.service-details-style{
    margin: 0 6%;
    padding-top: 80px;
}
.img-text-style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
}
.details-text-style h1{
    color: rgb(0, 125, 209);
}
.details-text-style p{
    line-height: 25px;
    font-size: 18px;
    text-align: justify;
}
.details-img-style img{
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .img-text-style{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        
    }
    .details-img-style{
        order: 1;
    }
    .details-text-style{
        order: 2;
    }
}