.doctors-page-style {
    margin: 100px 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    align-items: center;
}
.single-doctor-style {
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all 0.4s;
}
.single-doctor-style:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.doctor-img-style img {
    width: 100%;
}
.doctor-text-style {
    padding: 10px;
}
.doctor-text-style h2{
    color: rgb(0, 170, 182);
}
.doctor-text-style p {
    color: rgb(10, 10, 196);
    cursor: pointer;
}


@media only screen and (max-width: 750px) {
    .doctors-page-style{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }
}
@media only screen and (max-width: 490px) {

    .doctors-page-style{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

}